<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <form>
            <div class="container">
                <h1>Login</h1>
                <div class="input-box">
                    <label>Username</label>
                    <input type="username" placeholder="Enter Username" name="Username" required>
                    <i class='bx bx-user'></i>
                </div>
                <br>
    
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" placeholder="Enter Password" name="Password" required>
                    <i class='bx bx-lock-alt' ></i>
                </div>
                <br>
                <div class="submit">
                    <button type="submit">Login</button>
                </div>
                <br>
                <div class="remember-forget">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <br>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p><a href="{{url_for('register')}}">Don't Have An Account?</a></p>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>